<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DetailView示例</title>
    <link rel="stylesheet" href="../assets/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/lib/bootstrap-vue/bootstrap-vue.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-theme.css">

    <style>
    .search-input span {
        width: 20px;
        margin-right: 10px;
        text-align: right;
    }
    .search-input a {
        flex: 1;
        cursor: pointer;
    }
    .search-input li:hover {
        background-color: #d9edf7;
    }
    </style>

  </head>
  <body>
      <div id="app" class="container">
          <p>下面我们来看一下model来结合表单的书写，这个页面的代码极为简单：</p>
          <hr>
          <form class="form-horizontal col-10 offset-1">
              <steps :lists="steps" :current-index="currentIndex" style="display: flex">
                  <!-- 可以自定义内容每一个step的内容 -->
                  <!-- <template v-slot="p">
                      <div>
                          <div>{{ p.dataKey }}</div>
                          <step>{{ p.step.name }}</step>
                      </div>
                  </template> -->
              </steps>
              <form-item :model="model" attr="name" class="form-group" label="自定义"></form-item>
              <form-item :model="model" attr="age" class="form-group" type="number"></form-item>
              <form-item class="form-group" :model="model" attr="introduce">
                  <template v-slot="p">
                      <baseinput v-bind="p" tag="textarea" rows="8" maxlength="100"></baseinput>
                  </template>
              </form-item>
              <form-item class="form-group" :model="model" :attr="'phone'">
                  <template v-slot="p">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">+86</span>
                        </div>
                        <baseinput v-bind="p" maxlength="11" type="tel"></baseinput>
                    </div>
                  </template>
              </form-item>
              <form-item1 class="form-group" :model="model" attr="phone" :validate="['input']" @input="test">
              </form-item1>
              <form-item class="form-group" :model="model" attr="email"></form-item>
              <form-item class="form-group" :model="model" attr="sex">
                  <template v-slot="slotProps">
                      <groupinput v-bind="slotProps" :option="appointedOption">
                          <template v-slot:default="p">
                              <radio v-bind="p" :key="p.dataKey">{{p.value}}</radio>
                          </template>
                      </groupinput>
                  </template>
              </form-item>
              <!-- 默认是Tab组件 -->
              <form-item class="form-group" :model="model" attr="stayCity">
                  <template v-slot="p">
                      <groupinput v-bind="p"></groupinput>
                  </template>
              </form-item>
              <!-- 改成checkbox组件 -->
              <form-item class="form-group" :model="model" attr="stayCity">
                  <template v-slot="slotProps">
                      <groupinput v-bind="slotProps">
                          <template v-slot:default="p">
                              <checkbox v-bind="p" :key="p.dataKey">{{p.value}}</checkbox>
                          </template>
                      </groupinput>
                  </template>
              </form-item>
              <form-item class="form-group" :model="model" attr="search1">
                  <template v-slot="p">
                      <searchinput v-bind="p" :data-provider="dp" @choose="choose" item-name="name">
                      </searchinput>
                  </template>
              </form-item>
              <form-item class="form-group" :model="model" attr="search2">
                  <template v-slot="p">
                      <select2 v-bind="p" :data-provider="dp" @choose="choose" :multiple="true" item-name="name">
                      </select2>
                  </template>
              </form-item>
              <form-item class="form-group" :model="model" attr="city">
                  <template v-slot="p">
                      <dropdown v-bind="p"></dropdown>
                  </template>
              </form-item>
              <form-item class="form-group"  :model="model" :attr="'password'" >
                  <template v-slot="p">
                     <baseinput type="password" v-bind="p"></baseinput>
                  </template>
              </form-item>
              <form-item class="form-group" :model="model" :attr="'birthDate'">
                  <template v-slot:default="p">
                    <date-picker v-model="p.model[p.attr]" :value-type="'format'"></date-picker>
                  </template>
              </form-item>
              <form-item class="form-group" :model="model" :attr="'upload'">
                  <template v-slot:default="p">
                      <!-- 注意：当页面有多个 upload 组件的时候，一定要指定id -->
                      <uploader id="upload-1" :post-action="'http://lsp-dee-admin.dev.ethercap.com/test/upload'" v-model="p.model[p.attr]"></uploader>
                  </template>
              </form-item>
	    <button class="btn btn-primary col-sm-2 col-sm-offset-5" @click="submit">提交</button>
          </form>

          <div class="col-sm-12">
              <hr/>
              然而，在现实中，后端可能并不会返回本框架所要求的带rule的标准格式，此时有两种办法：
                 <ul>
                    <li>在http请求返回后，将数据整形为我们需要的格式，如Model</li>
                    <li>将rules等规则配置在本地, 如LocalModel</li>
                 </ul>
              <hr/>
              <a class="btn btn-default" @click="changeModel('remote')">后端Model</a>
              <a class="btn btn-warning" @click="changeModel('local')">本地Model</a>
          </div>
          <div class="col-sm-12">
              <hr/>
              从上面可以看到，我们可以拿到两个几乎一样的form。Model不仅代表了数据的值，也代表了数据的逻辑和规则，两个model的区别在于，一个是前后端一致的逻辑，后端不仅给前端当前值，同时给规则，双方通过接口就可以对齐逻辑和规则。另一个是规则是前端的，但是需要跟后端通过其它方式对齐。
              <hr/>
          </div>
      </div>
      <script src="../assets/lib/vue/vue.js"></script>
      <script src="../dist/index.min.js"></script>
      <script src="../assets/lib/bootstrap-vue/bootstrap-vue.min.js"></script>
      <script src="../assets/lib/bootstrap-vue/bootstrap-vue-icons.min.js"></script>
      <script src="../assets/js/bootstrap-theme.js"></script>
      <script src="../assets/js/ledap-init.js"></script>
      <script src="../assets/js/localmodel.js"></script>
      <script src="../assets/lib/vue-datepicker/vue-upload-component.js"></script>
      <script src="../assets/lib/vue-datepicker/vue2-datepicker.js"></script>
      <script src="../assets/js/upload.js"></script>
      <script src="../assets/js/testvalidator.js"></script>
  </body>
  <script>
const ledap = window["ledap"];
const Model = ledap.Model;
const WebDataProvider = ledap.WebDataProvider;
ledap.App.getTheme().addComponent({
    name : 'form-item1',
    template:`<component :is="tag" class="form-group row">
        <slot name="label" :model="model" :attr="attr">
            <label class="col-sm-3 col-form-label text-right text-warning"> {{model.getAttributeLabel(attr)}}{{model.isRequired(attr) ? '*' : ''}}</label>
        </slot>
        <div class="col-sm-9">
            <slot :model="model" :attr="attr" :validate="validate" :inputListeners="inputListeners">
                <input class="form-control" :name="attr" :value="model[attr]" :placeholder="model.getAttributeHint(attr)" v-on="inputListeners" />
            </slot>
            <slot name="error" :model="model" :attr="attr" :showError="showError">
                <b-form-invalid-feedback :state="!Boolean(showError)">
                {{showError}}
                </b-form-invalid-feedback>
            </slot>
        </div>
    </component>`,
}, 'form-item')

//注册本页面所需要的组件
ledap.App.register(["dropdown", "select2","form-item1", "baseinput", "form-item", "groupinput", 'searchinput', 'radio', 'checkbox', 'steps', 'step'], Vue);


var app = new Vue({
  el: '#app',
  methods : {
      submit: function(event){
          if(this.model.validate()) {
            alert("提交数据："+ JSON.stringify(this.model));
          } else {
            alert(this.model.getFirstError());
          }
          event.preventDefault();
      },
      test : function(event){
          console.log(event);
      },
      choose(model, index ,e) {
          console.log(model, index, e);
      },
      changeModel(type){
          if(type === 'local') {
             this.model = this.model2;
          }else {
             this.model = this.model1;
          }
      }
  },
  data: function(){
      return {
          dp: ledap.App.getWebDp({
              httpOptions: {
                  url: '/data/dp_1.json',
                  params: {
                      'per-page': 10
                  }
              },
          }),
          model :  ledap.App.getModel({
              phone: '',
              introduce: ''
          }),
          model1 : new Model(),
          model2 : new LocalModel(),
          // groupinput手动传入option
          appointedOption: {
              list: {
                  1: 'male',
                  2: 'female'
              },
              excludes: []
          },
          steps: [{
              name: '开冰箱0'
          }, {
              name: '装大象1'
          }, {
              name: '关冰箱2'
          }, {
              name: '关冰箱3'
          }, {
              name: '关冰箱4'
          }, {
              name: '关冰箱5'
          }, {
              name: '关冰箱6'
          }, {
              name: '关冰箱7'
          }],
          currentIndex: 1
    };
  },
  created:function(){
    window.x = this;
     //数据可以从任何地方来，也可以是本地的
    ledap.App.request({
        url: "/data/model.json"
    },(data) =>{
        this.model1 = ledap.App.getModel(data.data);
        // load data要提前列出各个字段 或者直接重新赋值为另一个model
        //this.model.load(data.data);
        this.model = this.model1;
    }, (error) => {});
    //假设后端返回正常的key, value数据
    this.model2.load({
        city: "成都",
    });
  },
  components: {
      //使用第三方组件DatePicker
      DatePicker:DatePicker.default,
  }
});
  </script>
</html>
