/*!***************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/platforms/react/components/formItem/style.less ***!
  \***************************************************************************************************************************************************************************************/
body p {
  margin-bottom: 14px;
}

/*!*****************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/platforms/react/components/formItem/utils.css ***!
  \*****************************************************************************************************/
label {
    /* cursor: pointer;
    background-color: antiquewhite; */
}
/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[5].use[3]!./src/platforms/react/components/formItem/form-item.module.less ***!
  \**********************************************************************************************************************************************************************************************************************************************************/
._module_formitem_m6q_j.required .ant-form-item-label label::before {
  content: "*";
  color: #ff4d4f;
}
._module_formitem_m6q_j.hide-error .ant-form-item-additional {
  display: none;
}

/*!*************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[5].use[3]!./src/platforms/react/components/form/form.module.less ***!
  \*************************************************************************************************************************************************************************************************************************************************/
._form_kRBRi.inline {
  display: flex;
  flex-wrap: nowrap;
}

/*!*******************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[5].use[3]!./src/platforms/react/components/select/dropdown.module.less ***!
  \*******************************************************************************************************************************************************************************************************************************************************/
._module_dropdown_X2jF9.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
._module_dropdown_X2jF9:not(.disabled) {
  cursor: pointer;
}

