<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>React示例</title>

    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.publicUrl %>/assets/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.publicUrl %>/assets/css/bootstrap-theme.css">
  </head>
  <body>
      <div id="root" class="container">
      <script src="<%= htmlWebpackPlugin.options.publicUrl %>/assets/lib/ledap.core.js"></script>
  </body>
</html>
